services:
  php-tests:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: design-pattern-tests
    volumes:
      - .:/app
    working_dir: /app
    command: php run-tests.php
